<nav class="navbar navbar-expand-lg bg-primary navbar-dark py-1 fixed-top">
    <div class="container">
        <!-- <img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo-shadow.png" alt="" width="40" height="34"> -->
        <span class="navbar-brand">Admin</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!-- <a href="#" class="nav-link" routerLink="/user" tabindex="-1" >User</a> -->
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>